$white: #ffffff;

body{

}

#section_calendar{
    position: absolute;
    top: 0;
    left: 20%;
    width: 78%;
    padding: 1vw;
    z-index: 99999999;
    height: 5vw;
    background: #dbd3dc;
    border: 1px solid #e5e5e5;
}

#section_calendar{
    position: absolute;
    top: 2%;
    left: 20%;
    width: 78%;
    height: 43vw;
    z-index: 99999999;
    background: #00000061;
    border: 1px solid #e5e5e5;
    overflow: auto;
}

#btn_submit_calendar_planings{
    background: white;
    width: 13vw;
    margin: auto;
    display: block;
    font-weight: 400;
    color: #497f49;
    border: none;
}    
#btn_submit_calendar_planings:hover{
    color: #265128;
}  

#btn_close_calendar_planings{
    background: white;
    width: 2vw;
    margin: auto;
    display: block;
    font-weight: 500;
    color: #ef7171;
    border: none;
    float: right;
} 
#btn_close_calendar_planings:hover{
    background: #ef7171;
    color: white;
}  


.show{
    opacity: 1;
}
.step{
    opacity: 0 ;
    transition: .5s ease-in-out all !important;
}

.form-control[readonly] {
    cursor: pointer;
}

#divFacilitiesForm{
    width: 100%;
    border: 1px solid #868e96;
    margin-top: 5%;
    height: 20vw;
    padding: 2%;
    background: url(http://localhost:8000/uploads/facilities/aaafacilities.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 65%;
    border-radius: 4px;
    cursor: pointer;
}
  
  #imgPlanningCalendar{
    width: 100%;
    border: 1px solid #868e96;
    margin-top: 5%;
    height: 20vw;
    padding: 2%;
    border-radius: 4px;
    cursor: pointer;
}

#rate_{
    float: right;
    margin-right: 1vw;
}
#qrcode_view{
    float: right;
    margin-bottom: 2vw;
}

.image-preview{
    width: auto;
    height: 17vw;
}
.image-preview img{
    width: auto;
    height: 100%;
}
.facilitie {
    background: #ffffffe0;
    border: 1px solid #868e96;
    margin-top: 0.3vw;
    margin-right: 0.3vw;
    padding: 0.3vw;
    font-weight: 400;
    color: #a437be;
    width: 14vw;
    display: inline-block;
}

.remove_facilitie{
    color: red;
    float: right;
    background: white;
}

.class_image_qrcode img {
    opacity: 0.5 !important;
}


.cardib {
    //width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .block_in{
        border-radius: 43px;
        border: 1px solid #A6A9AE;
        filter: drop-shadow(0px 8px 23px rgba(71, 71, 100, 0.06));
        background-color: $white;
    }

    h1 {
        text-align: center;
        font-size: 15px;
        line-height: 25px;
        color: #a3a7c1;
        font-family: "Open Sans";
        font-weight: 400;
    }
}
