





<div class="d-flex align-items-center">
    <i class="icon-users content-header-icon"></i>
    <div>
        <div class="content-header"> Robot AI </div>
        <p class="content-sub-header">Panneaux de contrôle - Robot AI -  </p>
    </div>
</div>



<section class="robot">
    <!--App Robot-->

  <!--  robot card-->
  <div id="robot_card" class="container emp-profile">
    
       <label  class="col-form-label">Robot Name :</label><br>
       <input type="text"   value='' placeholder="Spot"  ngModel>

       <br><br>
       <div id="commandes_ai">
          ********************<br>
          *** Commandes_ai ***<br>
          ********************<br><br>
          ['Good morning', 'Good afternoon'] => <br>
          > 'Good morning, how are you?' 'Good afternoon, how are you?' < <br>
          ---------------<br><br>
          ['Repeat after me *'] => <br>
          > 'You ve said : ' + VARIABLE < <br>
          ---------------<br><br>
          ['Bonjour', 'Hello', 'Hi', 'is someone there'] => <br>
          > 'Bonjour Maître, que voulez vous '} < <br>
          ---------------<br> <br>         
          ['lance une alert'] => <br>
          > ('Ok Maître') WHEN_DONE ("c'est fait")} < <br>
          ---------------<br><br>
          ['charge les admin'] => <br>
          > ('Tout de suite Maître') WHEN_DONE ("c'est fait")} <<br>
          ---------------<br><br>
          ['dit *'] => <br>
          > 'Je dit: ' + VARIABLE <<br>
          ---------------<br><br>
          ["c'est tout merci"] => <br>
          >'Mais je vous en prie, Maître. salamo alaykom'<<br>
          ---------------<br><br>


       </div>


      </div>
 
    <!-- end robot card-->

<!--App Robot Ends-->
</section>





