






<style>
  
.content-wrapper .container-fluid {
  background: transparent !important;
}

</style>



<section class="robot">
    <!--App Profile-->
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header mb-3">Home</div>
    </div>

 


  <!--  section card-->
    <section class="a-ad-sec-1">
      <div class="row">
  
  
  
        <div class="col-lg-10 a-ad-ett">
            <div class="row" >
            </div>
            <div class="row">
              <div class="col-lg-6 a-ad-blk1">
              
                <div class="col-lg-12 a-ad-b1"> 
                  <div class="a-ad-tl1" >
                    <img src="./../../../../assets/img/ICONS/Parrainage.png" style="width: 67px;">
                    <h3 class="a-ad-h3" >parrainage</h3>
                  </div>
                  <div class="a-ad-txt1">
                    <p>Taux de gain (20% encaissé par achat de parrainé) partagé de Spotfit vers la balance du parrain</p>
                  </div>    
                  
                  <div class="row a-ad-tx" >
                    <h5 class="col-lg-2">Taux</h5> 
                    <div class="col-lg-3" style="">
                      <input type="text" class="a-ad-znt1" placeholder="15" name="taux" id="">			
                    </div>
                     <span class="col-lg-3">%</span>						
                  </div>
                  
                  <div class="row a-ad-grps" >
                    <a href="" class="col-lg-6 a-ad-at"> voir tous les parrainages ></a>
                    <button  type="" class="col-lg-3 a-ad-btn-1">Confirmer</button>
                    <button type="" class="col-lg-3 a-ad-btn-2">Annuler</button>
                  </div>
  
                </div>
                <div class="col-lg-12 a-ad-b1" >
                  <div class="a-ad-tl1" >
                    <img src="./../../../../assets/img/ICONS/Equipements.png" style="width: 67px;">
                    <h3 class="a-ad-h3" >Equipements</h3>
                  </div>
                          
                  <div class="row a-ad-tx1" >
                    <h5 class="col-lg-5 a-ad-h55">Ajouter équipement</h5> 
                    <div class="col-lg-2" style="">
                      <input type="text" class="a-ad-znt1" placeholder="Rameur" name="eqp" id="">			
                    </div>
                                      
                    <div class="custom-file a-ad-ld1">
                        <label class="custom-file-label" for="inputGroupFile01">+ icone équipement</label>		   
                      </div>										
                       <input type="file" class="custom-file-input a-ad-load"  id="inputGroupFile01"
                          aria-describedby="inputGroupFileAddon01">									
                  </div>
                  
                  <div class="row a-ad-grps" >
                    <a href="" class="col-lg-6 a-ad-at"> voir tous les équipements ></a>
                    <button  type="" class="col-lg-3 a-ad-btn-1">Confirmer</button>
                    <button type="" class="col-lg-3 a-ad-btn-2">Annuler</button>
                  </div>
                </div>
                <div class="col-lg-12 a-ad-b1">
                  <div class="a-ad-tl1" >
                    <img src="./../../../../assets/img/ICONS/Installations.png" style="width: 67px;">
                    <h3 class="a-ad-h3" >Installations</h3>
                  </div>
                          
                  <div class="row a-ad-tx1" >
                    <h5 class="col-lg-6 a-ad-h55">Ajouter instalation</h5> 
                    <div class="a-ad-alg">
                      <span class="col-lg-2"  style="">Sauna</span> <span class="col-lg-4">++</span>
                    </div>							
                  </div>
                  
                  <div class="row a-ad-grps" >
                    <a href="" class="col-lg-6 a-ad-at"> voir toutes les installations></a>
                    <button  type="" class="col-lg-3 a-ad-btn-1">Confirmer</button>
                    <button type="" class="col-lg-3 a-ad-btn-2">Annuler</button>
                  </div>
                </div>
                <div class="col-lg-12 a-ad-b1">
                  <div class="a-ad-tl1" >
                    <img src="./../../../../assets/img/ICONS/Villes.png" style="width: 67px;">
                    <h3 class="a-ad-h3" >Villes</h3>
                  </div>
                          
                  <div class="row a-ad-tx1" >
                    <h5 class="col-lg-6 a-ad-h55">Ajouter ville</h5> 
                    <div class="a-ad-alg">
                      <span class="col-lg-2"  style="">Casablanca</span> <span class="col-lg-4">++</span>
                    </div>							
                  </div>
                  
                  <div class="row a-ad-grps" >
                    <a href="" class="col-lg-6 a-ad-at"> voir toutes les villes></a>
                    <button  type="" class="col-lg-3 a-ad-btn-1">Confirmer</button>
                    <button type="" class="col-lg-3 a-ad-btn-2">Annuler</button>
                  </div>
                </div>
                <div class="col-lg-12 a-ad-b1">
                  <div class="a-ad-tl1" >
                    <img src="./../../../../assets/img/ICONS/Marge Spotfit.png" style="width: 67px;">
                    <h3 class="a-ad-h3" >Marge Spotfit</h3>
                  </div>
                          
                  <div class="row a-ad-tx1" >
                    <h5 class="col-lg-6 a-ad-h55">Définir la marge</h5> 
                    <span class="col-lg-2"  style="">15</span> 
                    <span class="col-lg-1">%</span>											
                  </div>
                  <div class="row a-ad-tx1" >
                    <h5 class="col-lg-6 a-ad-h55">Définir la zone (optionel)</h5> 
                    <span class="col-lg-5"  style="">El fidâa</span> 							
                  </div>
                  <div class="row a-ad-tx1" >
                    <h5 class="col-lg-6 a-ad-h55">Définir la villezone (optionel)</h5> 
                    <span class="col-lg-5"  style="">Casablanca</span> 							
                  </div>
                  <div class="row a-ad-grps" >
                    <a href="" class="col-lg-6 a-ad-at"> voir marges pérsonnalisées></a>
                    <button  type="" class="col-lg-3 a-ad-btn-1">Confirmer</button>
                    <button type="" class="col-lg-3 a-ad-btn-2">Annuler</button>
                  </div>
                </div>
  
              </div>
  
              <div class="col-lg-6 a-ad-blk2">
                <div class="col-lg-12 a-ad-b2">
                   <div class="a-ad-tl1" >
                    <img src="./../../../../assets/img/ICONS/Crée coupon.png" style="width: 67px;">
                    <h3 class="a-ad-h3" >Crée coupon</h3>
                  </div>
                  <div class="a-ad-txt1">
                    <p>Coupon activable et valide pour une durée, et a une date d'expiration. Cause une reduction du prix</p>
                  </div>    
                  
                  <div class="row a-ad-tx">
                    <h5 class="col-lg-4">Nom du coupon</h5> 
                    
                    <span class="col-lg-2"  style="">S-Fit</span>
                    
                    <h5 class="col-lg-4">Taux de réduction</h5> 
                    
                    <span class="col-lg-1"  style="">15</span> 
                    <span class="col-lg-1">%</span>
                                
                  </div>
                  <div class="row a-ad-tx" >
                    <h5 class="col-lg-4">Durée de validité</h5> 									
                    <span class="col-lg-1"  style="">10</span>
                    <span class="col-lg-1">jours</span>
                    <span class="col-lg-6">(du 01/x/2019 au 11/x/2019)</span>										
                  </div>
                  <div class="row a-ad-tx" >
                    <h5 class="col-lg-4">Date de validité</h5> 
                    <span class="col-lg-1"  style="">40</span>
                    <span class="col-lg-1">jours</span>
                    <span class="col-lg-6">(du 01/x/2019 au 10/x+1/2019)</span>										
                  </div>
                  
                  <div class="row a-ad-grps" >
                    <a href="" class="col-lg-6 a-ad-at"> voir tous les coupons ></a>
                    <button  type="" class="col-lg-3 a-ad-btn-1">Confirmer</button>
                    <button type="" class="col-lg-3 a-ad-btn-2">Annuler</button>
                  </div>
                </div>
                <div class="col-lg-12 a-ad-b2">
                  <div class="a-ad-tl1" >
                    <img src="./../../../../assets/img/ICONS/Pass Partout.png" style="width: 67px;">
                    <h3 class="a-ad-h3" >Pass Partout</h3>
                  </div>
                          
                  <div class="row a-ad-tx1" >
                    <h5 class="col-lg-3 a-ad-h55 a-ad-alg">Classe du pass</h5> 
                  
                    <button  type="" class="col-lg-2 a-ad-btn-3">Bronze</button>
                    <button type="" class="col-lg-2 a-ad-btn-4">Silver</button>
                    <button  type="" class="col-lg-2 a-ad-btn-5">Gold</button>
                    <button type="" class="col-lg-3 a-ad-btn-6">Platinum</button>
                              
                  </div>
                  
                  <div class="row a-ad-grps" >
                    <h6 class="col-lg-3 a-ad-h66">Prix du pass</h6> 
                    <span class="col-lg-1"  style="">150</span> 
                    <span class="col-lg-2">Dhs</span>
                    <button  type="" class="col-lg-3 a-ad-btn-1">Confirmer</button>
                    <button type="" class="col-lg-3 a-ad-btn-2">Annuler</button>
                  </div>
                </div>
                <div class="col-lg-12 a-ad-b2">
                  <div class="a-ad-tl1" >
                    <img src="./../../../../assets/img/ICONS/Pass Strict.png" style="width: 67px;">
                    <h3 class="a-ad-h3" >Pass Strict</h3>
                  </div>
                          
                  <div class="row a-ad-tx1" >
                    <h5 class="col-lg-3 a-ad-h55 a-ad-alg">Classe du pass</h5> 
                  
                    <button  type="" class="col-lg-2 a-ad-btn-3">Bronze</button>
                    <button type="" class="col-lg-2 a-ad-btn-4">Silver</button>
                    <button  type="" class="col-lg-2 a-ad-btn-5">Gold</button>
                    <button type="" class="col-lg-3 a-ad-btn-6">Platinum</button>
                              
                  </div>
                  <div class="row a-ad-tx1" >
                    <h5 class="col-lg-3 a-ad-h55 a-ad-alg">Type du pass</h5> 
                  
                    <button  type="" class="col-lg-3 a-ad-btn-7">DayPass</button>
                    <button type="" class="col-lg-3 a-ad-btn-8">MonthPass</button>				
                    <button type="" class="col-lg-3 a-ad-btn-9">YearPass</button>
                              
                  </div>
                  
                  <div class="row a-ad-grps" >
                    <h6 class="col-lg-3 a-ad-h66">Prix du pass</h6> 
                    <span class="col-lg-1"  style="">150</span> 
                    <span class="col-lg-2">Dhs</span>
                    <button  type="" class="col-lg-3 a-ad-btn-1">Confirmer</button>
                    <button type="" class="col-lg-3 a-ad-btn-2">Annuler</button>
                  </div>							
                </div>
                <div class="col-lg-12 a-ad-b2">
                  <div class="a-ad-tl1" >
                    <img src="./../../../../assets/img/ICONS/Seuil pass strict.png" style="width: 67px;">
                    <h3 class="a-ad-h3" >Seuils Pass Strict</h3>
                  </div>
                          
                  <div class="row a-ad-tx1" >
                    <h5 class="col-lg-3 a-ad-h55 a-ad-alg">Classe du pass</h5> 
                  
                    <button  type="" class="col-lg-2 a-ad-btn-3">Bronze</button>
                    <button type="" class="col-lg-2 a-ad-btn-4">Silver</button>
                    <button  type="" class="col-lg-2 a-ad-btn-5">Gold</button>
                    <button type="" class="col-lg-3 a-ad-btn-6">Platinum</button>
                              
                  </div>
                  <div class="row a-ad-tx1" >
                    <h5 class="col-lg-3 a-ad-h55 a-ad-alg">Type du pass</h5> 
                  
                    <button  type="" class="col-lg-3 a-ad-btn-7">DayPass</button>
                    <button type="" class="col-lg-3 a-ad-btn-8">MonthPass</button>				
                    <button type="" class="col-lg-3 a-ad-btn-9">YearPass</button>
                              
                  </div>
                  <div class="row a-ad-tx1" >
                    <h6 class="col-lg-4 a-ad-h66">Seuil permis du pass</h6> 
                    <span class="col-lg-1"  style="">150</span> 
                    <span class="col-lg-2">Dhs</span>
                    <span class="col-lg-1"  style="">et</span> 
                    <span class="col-lg-1"  style="">250</span> 
                    <span class="col-lg-2">Dhs</span>					
                  </div>
                  
                  <div class="row a-ad-grps" >
                    
                    <span class="col-lg-6"> </span>
                    <button  type="" class="col-lg-3 a-ad-btn-1">Confirmer</button>
                    <button type="" class="col-lg-3 a-ad-btn-2">Annuler</button>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="row a-ad-blk3" >
              <div class="col-lg-9 a-ad-b3" >
                <div class="a-ad-tl1" >
                    <img src="./../../../../assets/img/ICONS/Partenaires et réseaux.png" style="width: 67px;">
                    <h3 class="a-ad-h3" >Partenaires et réseaux</h3>
                  </div>
                          
                  <div class="row a-ad-tx1" >
                    <h5 class="col-lg-2 a-ad-h55">Définir le nom</h5> 
                    <div class="col-lg-3">
                      <input type="text" class="a-ad-znt" placeholder="City Club" name="salle">
                    </div>									
                    <div class="col-lg-3 a-ad-ld">										
                      <img src="./../../../../assets/img/ICONS/upload.png" style="margin-top: -5px;">
                      <span class="a-ad-lod">définir le logo</span>										
                    </div>							
                  </div>
                  <div class="row a-ad-tx1" >
                    <h5 class="col-lg-3 a-ad-h55">Définir réseau de salles</h5> 
                    <div class="col-lg-3">
                      <input type="text" class="a-ad-znt" placeholder="City Club" name="salle">
                    </div>	
                    <h5 class="col-lg-2 a-ad-h55">Localisation</h5> 
                    <div class="col-lg-3">
                      <input type="text" class="a-ad-znt" placeholder="Localisation" name="salle">
                    </div>	
                    <button type="" class="col-lg-1 a-ad-btn-p">+</button>				
                  </div>
                  
                  <div class="row a-ad-grps" >
                    <a href=""class="col-lg-7 a-ad-at"> voir tous les partenaires et réseaux></a>
                    <button  type="" class="col-lg-2 a-ad-btn-1">Confirmer</button>
                    <button type="" class="col-lg-2 a-ad-btn-2">Annuler</button>
                    
                  </div>
              </div>
            </div>	
            <div class="row a-ad-blk3" >
              <div class="col-lg-10 a-ad-b3" >
                <div class="a-ad-tl1" >
                    <img src="./../../../../assets/img/ICONS/Entreprise.png" style="width: 67px;">
                    <h3 class="a-ad-h3" >Entreprises</h3>
                  </div>
                          
                  <div class="row a-ad-tx1" >
                    <h5 class="col-lg-4 a-ad-h55">Définir le nom</h5> 
                    <input type="text" class="col-lg-3" name="City Club">
                    
                    <div class="col-lg-4 a-ad-alg">										
                      <span class="">Définir le logo</span>
                    </div>							
                  </div>
                  
                  <div class="row a-ad-grps" >
                    <a href=""class="col-lg-7 a-ad-at"> voir tous les partenaires et réseaux></a>
                    <button  type="" class="col-lg-2 a-ad-btn-1">Confirmer</button>
                    <button type="" class="col-lg-2 a-ad-btn-2">Annuler</button>
                    
                  </div>
              </div>
            </div>	
        </div>
        
      </div>
    </section>





 
    <!-- end section card-->

</div>
<!--App Profile Ends-->
</section>





