<div class="row text-left">
  <div class="col-12 d-flex align-items-center justify-content-between">
    <content-heading [icon]="'icon-notebook'" [heading]="'Class'" [subHeading]="'La list des Class.'"></content-heading>
    <div>
      <a
        class="btn btn-raised btn-primary m-0 mr-1"
        [routerLink]="['form']"
        [queryParams]="{ action: 'add' }"
      >
        <i class="fa fa-plus"></i>
      </a>
      <button class="btn btn-raised btn-secondary m-0" (click)="refresh()">
        <i class="ft-refresh-ccw"></i>
      </button>
    </div>
  </div>
</div>
<section id="extended">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-content">
          <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
              <td mat-cell *matCellDef="let element">
                <b>{{ element.name | lowercase }}</b>
              </td>
            </ng-container>

            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>image</th>
              <td mat-cell *matCellDef="let element">
                <!-- (click)="openModal($event)"  -->
                <img  style="width:50px; height: 40px;"
                      [src]="element.image">
              </td>

            </ng-container>

            <ng-container matColumnDef="prix_min">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>prix_min</th>
              <td mat-cell *matCellDef="let element">
                {{ element.prix_min}}
              </td>
            </ng-container>

            <ng-container matColumnDef="prix_max">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>prix_max</th>
              <td mat-cell *matCellDef="let element">
                {{ element.prix_max}}
              </td>
            </ng-container>



            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    (click)="onEdit(element.id)"
                    class="text-warning"
                  >
                    <mat-icon class="text-warning">edit</mat-icon>Modifier
                  </button>
                  <button mat-menu-item aria-label="remove" (click)="onDelete(element.id)">
                    <mat-icon style="color: red">delete</mat-icon>
                    <span>Remove</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mr-auto"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [length]="class.length"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>
