.ng2-smart-pagination{
    &.pagination{
        .page-link{
            line-height: 1rem;
        }
    }
}

#gym_table td{
    width: 14%;
    white-space: nowrap !important;
    padding-bottom: 0rem;
}


.logo_gym{
    border: 1px solid #efefef;
    width: 1.8vw;
     height: 1.9vw;  
    margin-top: -3px;
  }

  .modal-content .modal-footer .btn + .btn {
    color: white !important;
}

.div_detail_logo_gym{
    width: 100%;
    padding-left: 10%;
}
.detail_logo_gym{
    width: 44%;
}

.detail_qrcode_gym{ 
    display: inline-block;
    margin: auto;
    
}
.detail_name_gym{
    font-size: 5em;
    line-height: 1;
    color: #0090c5;
    width: 50%;
    vertical-align: middle;
    padding-top: 2vw;
}

.update_logo_gym {
    width: 44%;
    margin: auto;
}
.delete_logo_gym {
    width: 44%;
    margin: auto;
}
.delete_logo_gym img{
    width: 75%;
}
.delete_name_gym{
    font-size: 4em;
    line-height: 1;
    color: red;
    width: 50%;
    vertical-align: middle;
    padding-top: 2vw;
}

.color_Low{
     color:red ;
     background: white;
}
.color_Medium{
    color:blue ;
    background: white;
}
.color_Hight{
    color:green ;
    background: white;
}

.gamme_span_Low{
    border: 1px solid;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 14px;
    cursor: pointer;
    color:#cc3838 ;
}
.gamme_span_Low:hover{
    background:#cc3838 ;
    color: white;
}
.gamme_span_Medium{
    border: 1px solid;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 14px;
    cursor: pointer;
    color:blue ;
}
.gamme_span_Medium:hover{
    background:#3a3ab1 ;
    color:#3a3ab1 ;
    color: white;
}
.gamme_span_Hight{
    border: 1px solid;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 14px;
    cursor: pointer;
    color:green ;
}
.gamme_span_Hight:hover{
    background:green ;
    color: white;
}

.content-header-icon {
    margin-right: 0.7rem;
    font-size: 2.2rem;
  }