

<div class="card">
    <div class="card-header pb-2">
      <h4 class="card-title" id="hidden-label-colored-controls">{{ heading }}</h4>
    </div>
    <div class="card-content">
      <div class="px-3">
        <form class="form" [formGroup]="classeForm" (ngSubmit)="onSubmit()">
         

         
          <div class="form-body">
            <h4 class="form-section"><i class="ft-info"></i> Information Personneles</h4>

            <div class="row">

              
 <div class="form-classe col-md-6 mb-2"> 
     <label class="sr-only" for="name">name</label> 
     <input type="text" id="name" class="form-control border-secondary" placeholder="name du classe" name="name" formControlName="name"> 
   </div>    

 <div class="form-classe col-md-6 mb-2"> 
     <label class="sr-only" for="image">image</label> 
     <input type="text" id="image" class="form-control border-secondary" placeholder="image du classe" name="image" formControlName="image"> 
   </div>    

 <div class="form-classe col-md-6 mb-2"> 
     <label class="sr-only" for="prix_min">prix_min</label> 
     <input type="text" id="prix_min" class="form-control border-secondary" placeholder="prix_min du classe" name="prix_min" formControlName="prix_min"> 
   </div>    

 <div class="form-classe col-md-6 mb-2"> 
     <label class="sr-only" for="prix_max">prix_max</label> 
     <input type="text" id="prix_max" class="form-control border-secondary" placeholder="prix_max du classe" name="prix_max" formControlName="prix_max"> 
   </div>    

 

            </div>


          </div>




          <div class="form-actions right">
            <button type="button" class="btn btn-raised btn-warning mr-1" (click)="onCancel()">
              <i class="ft-x"></i> Annuler
            </button>
              <button type="submit" class="btn btn-raised btn-primary" *ngIf="type !== 'add'; else add" [disabled]="inProgress">
                  <i class="fa fa-check-square-o"></i> Modifier
              </button>
              <ng-template #add>
                  <button type="submit" class="btn btn-raised btn-primary" [disabled]="inProgress">
                      <i class="fa fa-check-square-o"></i> Enregistrer
                  </button>
              </ng-template>
          </div>

        </form>

      </div>
    </div>
  </div>



 