<div class="container my-3">
    <div class="mb-2">
      <h1>Google Maps Places Autocomplete Using angular 2</h1>
      <input type="text" placeholder="Search for Location" autocorrect="off" autocapitalize="off" spellcheck="off"
             class="form-control" #search>
    </div>
    <agm-map
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            (mapClick)="onChooseLocation($event)">
        <agm-marker
                [latitude]="lat"
                [longitude]="lng"
                *ngIf="locationChosen"
                [markerDraggable]="markerDraggable"
        ></agm-marker>
    </agm-map>
</div>
