<!--Forgot Password Starts-->
<section id="forgot-password">
  <div class="container-fluid forgot-password-bg">
    <div
      class="row full-height-vh m-0  d-flex align-items-center justify-content-center"
    >
      <div class="col-md-7 col-sm-12">
        <form [formGroup]="forogtPasswordForm" (ngSubmit)="onSubmit()">
        <div class="card">
          <div class="card-content">
            <div class="card-body fg-image">
              <div class="row m-0">
                <div class="col-lg-6 d-none d-lg-block text-center py-3">
                  <img src="../../../../../assets/img/gallery/forgot.png" alt="" class="img-fluid" width="300" height="230" />
                </div>
                <div class="col-lg-6 col-md-12 bg-white px-4 p-3">
                  <h4 class="card-title mb-2">RÉCUPÉRER MOT DE PASSE</h4>
                  <p class="card-text mb-3">
                    Veuillez saisir votre adresse e-mail et nous vous enverrons
                    des instructions pour réinitialiser votre mot de passe.
                  </p>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Adresse e-mail" formControlName="email"/>
                    <div class="text-danger" style="font-size: 12px" *ngIf="forogtPasswordForm.get('email').hasError('required') && forogtPasswordForm.get('email').touched">
                      Adresse e-mail est obligatoire
                    </div>
                  </div>
                  <div class="fg-actions d-flex justify-content-between">
                    <div class="login-btn">
                      <button class="btn btn-outline-primary">
                        <a class="text-decoration-none" [routerLink]="['/login']">Retour a la page de connexion</a>
                      </button>
                    </div>
                    <div class="recover-pass">
                      <button class="btn btn-primary" type="submit">
                        <a class="text-decoration-none text-white" >Envoyer</a>
                      </button>
                    </div>
                  </div>
                  <div class="fg-errors">
                    <hr class="m-0 mb-1 mt-1" [hidden]="!errors.length"/>
                    <div class="custom-errors">
                      <p *ngFor="let err of errors" class="text-danger m-0 p-0 pb-1" style="max-width: 300px;">&#3196; {{ err }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--Forgot Password Ends-->
