.card-text {
  color: #b2479b!important;
  font-size: 13px!important;
}

form label {
  color: #75787d!important;
  font-size: .9rem!important;
  text-transform: none!important;
  letter-spacing: 1px!important;
  font-weight: 400!important;
}