
<div class="d-flex align-items-center">
    <i class="icon-users content-header-icon"></i>
    <div>
        <div class="content-header"> Materiel </div>
        <p class="content-sub-header">Panneaux de contrôle - Robot AI -  </p>
    </div>
</div>


<!--Confirm Action Starts-->
<section id="action">
  <div class="row">
      <div class="col-sm-12">
          <div class="card">

              <!--  Materiel Component SHOW -->
              <div class="card-body">
                  <div class="card-block">

              <div>  
                  <table   class="table table-hover" >
                    <thead>


                            <tr class='table-filters'>
                                    <th class="text-center priority-1" > <input _ngcontent-c6="" class="form-control form-control-success" (click)="resizepage()" placeholder="Photo" type="hidden"> </th>
                                    <th class="text-center priority-1" > <input _ngcontent-c6="" class="form-control form-control-success" (click)="resizepage()" placeholder="Libelle" type="text"> </th>
                                    <th class="text-center priority-7" style="width: 8%;">  <input _ngcontent-c6="" class="form-control form-control-success" (click)="resizepage()"  placeholder="Gym" type="text"></th> 
                                    <th class="text-center priority-9"  >  <input _ngcontent-c6="" class="form-control form-control-success" (click)="resizepage()" placeholder="Code barre" type="text"></th>
                                    <th class="text-center priority-9" >  <input _ngcontent-c6="" class="form-control form-control-success" (click)="resizepage()" placeholder="Gamme" type="text"></th>
                                    <th class="text-center priority-9"  >  <input _ngcontent-c6="" class="form-control form-control-success" (click)="resizepage()" placeholder="Etat" type="text"></th>
                                    <th class="text-center priority-3"  > <button class="btn  btn-outline-primary" (click)="open(content)"><i class="ft-add-2 font-medium-1 mr-2"></i>add new</button>  </th>
                           
                                    <th></th>
                                        <th></th>
                                </tr>

                                
                        <tr> 
                            <th>image</th> 
                            <th>code_barre</th> 
                            <th>libelle</th>  
                            <th>gym</th> 
                            <th>gamme</th>
                            <th>etat</th> 
                            <th>ACTIONS</th> 
                        <tr>
                    </thead>
                    <tbody>
                            <tr *ngFor="let materiel of materiels"  >
                                    <td>
                                        <img class="img_show_materiel" src="./../../assets/img/equipements/{{materiel.image}}"  >
                                    </td>
                                    <td>{{materiel.code_barre}}</td>

                                    <td (click)="open(contentMateriel,materiel)" style="cursor:pointer;">{{materiel.libelle}}</td>
                                    <td>  </td>
                                    <td>{{materiel.gamme}}</td>
                                    <td>
                                        <star-rating  value="{{materiel.etat}}" checkedcolor="#fc0" uncheckedcolor="black" size="24px"    readonly="false" (rate)="onRate($event)"></star-rating>
                                    </td>
                                    <td> 

 
<button type="button" class="btn" (click)="open(contentProviderUpdate)"><i class="ft-edit-2 info font-medium-1 mr-2"></i></button><button type="button" class="btn" (click)="opensm(contentProviderDelete)"><i class="ft-x danger font-medium-1 mr-2"></i></button>
                                    </td>


                                    

         <!-- DELETE MATERIEL TEMPLATE-->
         <ng-template #contentProviderDelete let-c="close" let-d="dismiss">
            <div class="modal-header" style="background-color: #DD4B39">
              <h4 class="modal-title" style="color: white">Supprimer Matériel</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <dl class="row">

                <dt class="col-sm-3">Libelle</dt>
                <dd class="col-sm-3">{{materiel.libelle}}</dd>

                <dt class="col-sm-3">Gym</dt>
                <dd class="col-sm-3">{{materiel.name}}</dd>

                <dt class="col-sm-3">Code barre</dt>
                <dd class="col-sm-3">{{materiel.code_barre}}</dd>

                <dt class="col-sm-3">Gamme</dt>
                <dd class="col-sm-3">{{materiel.gamme}}</dd>

                <dt class="col-sm-3">Etat</dt>
                <dd class="col-sm-3">{{materiel.etat}}</dd>

              </dl>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-dark btn-square"  (click)="d('Cross click')">Annuler</button>
              <button type="button" class="btn btn-danger btn-square" (click)="delete(materiel);d('Cross click')"><i class="icofont icofont-warning-alt"></i> Supprimer</button>
            </div>

          </ng-template>
     <!-- END DELETE MATERIEL TEMPLATE-->





     <!--  UPDATE MATERIEL TEMPLATE-->
     <ng-template #contentProviderUpdate let-c="close" let-d="dismiss">
            <div class="modal-header" style="background-color: #4cd787">
              <h4 class="modal-title" id="modal-basic-title" style="color: white">Modifier Matériel</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form [formGroup]="myformUpdate">
                <div class="form-group">
                  <label  class="col-form-label">Libelle :</label>
                  <input type="text" class="form-control"  value='{{materiel.libelle}}' formControlName="libelle" ngModel>
                </div>
            <!-- 
                <div class="form-group">
                  <label class="col-form-label">Gym :</label>
                  <select _ngcontent-c10="" class="form-control" formControlName="id_gym" value="{{post.id_gym}}" ngModel>
                    <option *ngFor="let single_gym of gyms" _ngcontent-c10="" value="{{single_gym.id}}">{{single_gym.name}}</option>
                  </select>
                </div>
            -->
                <div class="form-group">
                  <label  class="col-form-label">Code barre :</label>
                  <input type="text" class="form-control"  value='{{materiel.code_barre}}' formControlName="code_barre" ngModel>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Gamme :</label>
                  <input type="text" class="form-control"  value='{{materiel.gamme}}' formControlName="gamme" ngModel>
                </div>
                <div class="form-group">
                  <label  class="col-form-label">Etat :</label>
                  <input type="text" class="form-control"  value='{{materiel.etat}}' formControlName="etat" ngModel>
                </div>

                <div class="modal-footer">
                  <button class="btn btn-dark" (click)="c('Close click')">Annuler</button>

                  <button type="button" value="Submit" class="btn btn-success" (click)="onUpdate(materiel.id,materiel.libelle,materiel.code_barre,materiel.gamme,materiel.etat,materiel.image);"><i class="icofont icofont-edit"></i>Modifier</button>

                </div>

              </form>
            </div>
          </ng-template>
     <!-- END UPDATE MATERIEL TEMPLATE-->



     

     <!-- CLICK SHOW ONE MATERIEL TEMPLATE-->
     <ng-template #contentMateriel let-c="close" let-d="dismiss">
            <div class="modal-header" style="background-color: #00AEEF">
              <h4 class="modal-title" style="color: white">Detail Materiel</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <dl class="row">
       
                  <dt class="col-sm-3">Libelle</dt>
                  <dd class="col-sm-3">{{materiel.libelle}}</dd>

                  <dt class="col-sm-3">Gym</dt>
                  <dd class="col-sm-3">{{materiel.id_gym}}</dd>

                  <dt class="col-sm-3">Code barre</dt>
                  <dd class="col-sm-3">{{materiel.code_barre}}</dd>

                  <dt class="col-sm-3">Gamme</dt>
                  <dd class="col-sm-3">{{materiel.gamme}}</dd>

                  <dt class="col-sm-3">Etat</dt>
                  <dd class="col-sm-3">{{materiel.etat}}</dd>
 
              </dl>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="c('Close click')">Fermer</button>
            </div>
          </ng-template>
          <!-- END CLICK SHOW ONE MATERIEL TEMPLATE-->





                               </tr>
                    </tbody>
                </table>
                
              </div>

            </div>
        </div>
         <!-- end Materiel Component SHOW -->



          </div>
      </div>
  </div>
</section>
<!--Confirm Action Ends-->




          
    <!-- ADD MATERIEL TEMPLATE-->
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header" style="background-color: #4cd787">
       <h4 class="modal-title" id="modal-basic-title" style="color: white">Ajouter Matériel</h4>
       <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
   
       <form [formGroup]="myform"  >
         <div class="form-group">
           <label class="col-form-label">Libelle :</label>
           <input type="text" class="form-control" formControlName="libelle" ngModel required>
<!--    
           <label class="col-form-label">Gym :</label>
                   <div class="form-group">
                     <select _ngcontent-c10="" class="form-control" formControlName="id_gym" value="" ngModel>
                       <option *ngFor="let single_gym of gyms" _ngcontent-c10="" value="{{single_gym.id}}">{{single_gym.name}}</option>
                     </select>
                   </div> -->
           <label class="col-form-label">Code barre :</label>
           <input type="text" class="form-control"  formControlName="code_barre" ngModel required>
   
           <label class="col-form-label">Gamme :</label>
           <input type="text" class="form-control"  formControlName="gamme" ngModel required>
   
           <label class="col-form-label">Etat :</label>
           <input type="text" class="form-control"  formControlName="etat" ngModel required>
   
           <label class="col-form-label">Image :</label>
           <input type="text" class="form-control"  formControlName="image" value="default_materiel.png" ngModel required>
   
           <img class='img_add_equipement' src="assets/img/equipements/default_materiel.png">
         </div>
   
         <div class="modal-footer">
           <button class="btn btn-dark" (click)="c('Close click')">Annuler</button>
           <button type="button" value="Submit" class="btn btn-success" (click)="onSubmit($event);//c('Close click')"><i class="icofont icofont-ui-add"></i>Ajouter</button>
         </div>
   
       </form>
     </div>
   
   </ng-template>
   <!-- END ADD MATERIEL TEMPLATE-->