<!--Login Page Starts-->
<section id="login">
  <div class="container-fluid">
    <div class="row full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-content">
            <div class="card-body login-img">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="row m-0">
                  <div
                    class="col-lg-6 d-lg-block d-none py-2 px-3 text-center align-middle"
                  >
                    <img
                      src="../../../../assets/img/gallery/login.png"
                      alt=""
                      class="img-fluid mt-5"
                      width="400"
                      height="230"
                    />
                  </div>
                  <div class="col-lg-6 col-md-12 bg-white px-4 pt-3">
                    <h4 class="card-title mb-2">Connexion</h4>
                    <p class="card-text mb-3">
                        Connectez-vous à votre compte.
                    </p>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Adresse e-mail ou identifiant" formControlName="username" required/>
                        <div class="text-danger" style="font-size: 12px" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
                           Adresse e-mail ou identifiant est obligatoire 
                        </div>
                    </div>
                    <div class="mb-3">
                      <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password" required/>
                      <div class="text-danger" style="font-size: 12px" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched"> 
                        Mot de passe est obligatoire 
                      </div>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                      <div class="remember-me">
                        <div class="custom-control custom-checkbox custom-control-inline mb-3" >
                          <input type="checkbox" id="remember-me" name="remember-me" class="custom-control-input" formControlName="rememberMe"/>
                          <label class="custom-control-label" for="remember-me"> Se souvenir de moi</label>
                        </div>
                      </div>
                      <div class="forgot-password-option">
                        <a [routerLink]="['/forgotpassword']" class="text-decoration-none text-primary" >Mot de passe oublié?</a >
                      </div>
                    </div>
                    <div class="fg-actions d-flex justify-content-between">
                      <div class="login-btn"></div>
                      <div class="recover-pass">
                        <button type="submit" class="btn btn-primary">
                          <a class="text-decoration-none text-white" >Connexion</a >
                        </button>
                      </div>
                    </div>
                    <hr class="m-0 mb-1 mt-1" [hidden]="!errors.length"/>
                    <div class="custom-errors">
                      <p *ngFor="let err of errors" class="text-danger m-0 p-0 pb-1" style="max-width: 300px;">&#3196; {{ err }}</p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->
