// Login Page

#login {
    background-image: url('../../../../assets/img/gallery/light-bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  
    .login-img {
      padding: 0;
      background: #f0f0f0;
    }
  
    .login-btn {
      .btn.btn-outline-primary {
        &:hover {
          a {
            color: #fff;
          }
        }
      }
    }
  
    .recover-pass {
      button.btn.btn-primary {
        color: #fff !important;
      }
    }

    label {
      text-transform: none!important;
      font-weight: 400!important;
      letter-spacing: 1.5px!important;
      color: #00000061!important;
      font-size: 1rem!important;
      letter-spacing: 0.3px!important;
    }
  
    .forgot-password-option,
    .remember-me {
  
      a.text-decoration-none,
      .custom-control-label {
        font-size: 14px;
      }
    }
  }
  