@import '~app/modules/spotfit/spotfit';

.subscription {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  padding: 2rem;
  color: #343434;
  transition: transform .1s;
  transition-timing-function: ease-in-out;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: 10rem;

  background-position-x: right;
  background-position-y: bottom;
  max-width: 510px;
  margin-bottom: 1rem;

  @include media($tablet) {
    margin: 1rem auto;
    background-size: 14rem;
  }

  /*@include media("<477px") {
    background-position: 213px 27px;
    padding: 1.5rem;
  }*/

  @include media($phone) {
    padding: 1.5rem;
    max-width: 510px;
    background-position: 1rem 1rem;
    background-size: 8rem;
    margin: .5rem 0px;

    & > div:first-child {
      margin-top: 112px;
    }
  }

  &:hover {
    transform: scale(1.05, 1.05);
    //-webkit-box-shadow: 0px 12px 30px -19px rgba(201,201,201,1);
    //-moz-box-shadow: 0px 12px 30px -19px rgba(201,201,201,1);
    //box-shadow: 0px 12px 30px -19px rgba(201,201,201,1);
  }

  &__heading {
    div:first-child {
      display: flex;
      align-items: center;
    }

    &--main {
      font-weight: 600;
      margin-right: 1rem;
    }

    &--secondary {
      color: #cfc9e9;
    }
  }

  &__subtitle {
    max-width: 18rem;
    margin-bottom: 1rem;
    color: #b5b5b5;
    line-height: 17px;
  }

  &__options {
    list-style: none;
    margin-bottom: 1rem;
    padding-left: 0;

    li {
      line-height: 1.4rem;

      i {
        color: #2bb6bf;
      }
    }
  }
}